dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# Windows
*.exe

Unit04/Lesson22/QC3
Unit04/Lesson22/QC4
Unit04/Lesson22/sum
Unit04/Lesson22/sum_lazy
Unit04/Lesson22/quotes
Unit04/Lesson22/simple_calc
Unit04/Lesson24/hello1.txt
Unit04/Lesson25/glitched_lovecraft.jpeg
Unit04/Lesson26/marc_to_html
Unit04/Lesson26/sample.mrc
Unit04/Lesson26/books.html
